node_modules
.env
.env.*
!.env.example
# wrangler.jsonc 需要提交给 Cloudflare Pages 构建用
# !wrangler.example.jsonc
wrangler.example.jsonc
.nuxt
.output
.data
.wrangler
mkdirs-template-main
dist
Nuxt_Mkdirs.zip